.selected {
  background-image: linear-gradient(45deg, transparent 70%, #3F3959 30%);
}

.ronSpan {
  color: rgba(47, 72, 88, 0.5);
  /* color: #2f4858; */
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
}

@media (max-width: 768px) {
  .ronSpan {
    font-size: 0.8rem;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 40px;
  background: white;
  color: #333;
  border: none;
  border: 2px solid #3F3959;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}

.review-rating {
  width: auto;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 3px 0px #3F3959;
}

select option {
  color: #333;
}

.reviews-card{
  height: 250px;
  padding: 12px 32px;
  overflow-y: scroll;
}